.message {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    margin-left: 560px;
}

.imageAndText {
}

.imageAndText img {
    position: relative;
    left: 520px;
    top:50px;
    margin-left: 15px;
    min-width: 50px;
    height: 50px;
    border: 3px solid #d3cedb;
    border-radius: 50%;
}

.text {

    width: 527px;
    height: 60px;

border-radius: 15px;
    background: #0066CC;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
}

.text:after {
}

.name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


}

.messageText {

    width: 489px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #FFFFFF;
}

.time {
    position: relative;
    left: 20px;
    width: 26px;
    height: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
}