.sidebar {
    display: flex;
    visibility: hidden;
    transition-duration: 500ms;
    transform: translate(-270px);
}

.sidebar.open {
    visibility: visible;
    transition-duration: 500ms;
    transform: translate(0);
}

.background {
    /*display: flex;*/
    /*width: 100%;*/
    /*background-color: blanchedalmond;*/
}

.nav {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 100%;*/

}

.nav a {
    text-decoration: none;
    color: hotpink;
    margin: 10px;
}

.nav a:hover {
    color: #d3cedb;
}

.nav a.active {
    visibility: visible;
    color: blueviolet;
}
.close {
    display: flex;
    justify-content: center;
    align-items: center;
   width: 50px;
    height: 20px;
}

.close img {
    size: 10px;
}
