.friendMessage {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
}

.friendImageAndText {

}

.friendImageAndText img {
    position: relative;
    top:50px;
    right: 50px;
    min-width: 50px;
    height: 50px;
    border: 3px solid #d3cedb;
    border-radius: 50%;

}

.friendText {

    width: 414px;
    height: 60px;
    left: 118px;
    top: 275px;
border-radius: 15px;
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
}

.friendText:after {

}

.friendName {
    margin-left: 5px;
    margin-top: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.friendMessageText {
    width: 374px;
    height: 20px;
    margin-left: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;
}

.friendTime {
position: relative;
    right: 450px;
    width: 29px;
    height: 12px;
    margin-left: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
}
