.button {
    color: #0059b3;
}

.disabled {
}

.secondary {
    color: #00cc22;
}

.default {
    color: #0059b3;
}

.red {
   background-color:red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
